<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase"> Editar una Persona </h3>
                </div>
                <div class="card-body">
                    <form action="/edit/{{persona.id}}" method="post">

                        <div class="input-group mt-2">
                            <label for="name" class="input-group-text"> Nombre Persona </label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Ejemplo: Cristhian David" value="{{persona.name}}" autofocus required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="lastname" class="input-group-text"> Apellido Persona </label>
                            <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Ejemplo: Galvis Cardona" value="{{persona.lastname}}" required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="age" class="input-group-text"> Edad </label>
                            <input class="form-control" type="number" name="age" id="age" placeholder="0" value="{{persona.age}}" required >
                        </div>

                        <div class="input-group mt-2">
                            <label for="observacion" class="input-group-text"> Observacion </label>
                            <input class="form-control" type="text" name="observacion" id="observacion" value="{{persona.observacion}}" placeholder="Escriba una observacion" required >
                        </div>

                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success"> Actualizar </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>